.Big_tit
{
    font-size: 250%;
    text-align: center;
    margin-top: 100px;
}
.Up_hat
{
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color:rgba(128, 0, 128, 0.9);
    color:white;
}
.D_hat
{
    margin-top: 10%;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 55px;
    background-color:rgba(128, 0, 128, 0.9);
    color:white;
}
.itemimg
{
    display: inline-block;
    padding: 3%;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.12);
    width: 150px;

}
img
{
    max-width: 100%;
    max-height: 100%;
}
.itemtex
{
    margin-top: 5%;
    width: auto;
}
.centrin
{
    text-align: center;
}
.Icosocial
{
    float: left;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 10px;
}
.IcoSearch
{
    padding-left: 30%;
    margin-top: 10px;
}
.IcoLog
{
    float: left;
    padding-left: 10px;
}
