body html
{
    background-color:#f4f9f7;
    height: 100%;
}
.Big_tit
{
    font-size: 250%;
    text-align: center;
    margin-top: 100px;
}
.Up_hat
{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: #745c97;
    color:white;
}
.D_hat
{
  position: absolute;
  width: 100%;
  height: 55px;
  background-color: #745c97;
  left: 0;
  color:white;
  margin-top: 30px;
}
.itemimg
{
    width: auto;
    position: absolute;
    float: left;
    max-height: 100%;
}
img
{
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    top: 50%;
    transform: translate(0, -50%);
    position: relative;
    width:50px;
    height:50px;
}
.itemtex
{
    margin-top: 5%;
    width: auto;
}
.centrin
{
    text-align: center;
}
.Icosocial
{
    float: left;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 10px;
}
.IcoSearch
{
    float: right;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 10px;
}
.IcoLog
{
    float: left;
    padding-left: 10px;
}
.IcoDB
{
    transform: translate(0, 0%);
    margin-top: 8%;

}
.TSearch
{
    margin-top: 1%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Table
{
    height:500px;
    text-align: center;
    display: inline-block;
    overflow:auto;
}
